html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {}

form {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 2rem 1rem;
    background-color: #1F2937;
}

input,
select,
button {
    width: 100%;
}

input {
    max-width: 10%;
    border: #D1D5DB solid 0.5px;
}

select {
    background-color: #1F293A;
    color: #D5D4D8;
}

button {
    background-color: #3d4b60;
    max-width: 25%;
    color: white;
}

select,
button {
    border: #D1D5DB solid 1px;
    border-radius: 6px;
    padding: 8px;
}

.color-output {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;


}

.color {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.color-container {
    width: 100%;
    height: 100%;
    background-color: black;
    border: white solid 1px;

}

.color-name {
    text-align: center;
    font-size: 1.5rem;
}

@media(max-width: 480px) {
    p {
        margin: 0;
    }

    form {
        flex-direction: column;
    }

    input,
    button {
        max-width: 100%;
    }

    select {
        text-align: center;

    }

    .color-output {
        flex-direction: column;
        height: 100%;
    }

}